@mixin box-shadows-01 {
  box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
}

@mixin box-shadows-02 {
  box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
}

@mixin box-shadows-03 {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

@mixin box-shadows-04 {
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}

@mixin box-shadows-05 {
  box-shadow: rgba(0, 0, 0, 0.16) 0 1px 4px;
}

@mixin box-shadows-06 {
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
}

@mixin box-shadows-07 {
  box-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0;
}

@mixin box-shadows-08 {
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0, rgba(27, 31, 35, 0.15) 0 0 0 1px;
}

@mixin box-shadows-09 {
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0, rgba(27, 31, 35, 0.15) 0 0 0 1px;
}

@mixin box-shadows-10 {
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

@mixin box-shadows-11 {
  box-shadow: rgba(0, 0, 0, 0.25) 0 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

@mixin box-shadows-12 {
  box-shadow: rgba(0, 0, 0, 0.05) 0 6px 24px 0, rgba(0, 0, 0, 0.08) 0 0 0 1px;
}

@mixin box-shadows-13 {
  box-shadow: rgba(0, 0, 0, 0.16) 0 10px 36px 0, rgba(0, 0, 0, 0.06) 0 0 0 1px;
}

@mixin box-shadows-14 {
  box-shadow: rgba(17, 12, 46, 0.15) 0 48px 100px 0;
}

@mixin box-shadows-15 {
  box-shadow: rgba(50, 50, 93, 0.25) 0 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

@mixin box-shadows-16 {
  box-shadow: rgba(255, 255, 255, 0.1) 0 1px 1px 0 inset, rgba(50, 50, 93, 0.25) 0 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

@mixin box-shadows-17 {
  box-shadow: rgba(50, 50, 93, 0.25) 0 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

@mixin box-shadows-18 {
  box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
}

@mixin box-shadows-19 {
  box-shadow: rgba(50, 50, 93, 0.25) 0 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

@mixin box-shadows-20 {
  box-shadow: rgba(50, 50, 93, 0.25) 0 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

@mixin box-shadows-21 {
  box-shadow: rgb(38, 57, 77) 0 20px 30px -10px;
}

@mixin box-shadows-22 {
  box-shadow: rgba(6, 24, 44, 0.4) 0 0 0 2px, rgba(6, 24, 44, 0.65) 0 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

@mixin box-shadows-23 {
  box-shadow: rgba(50, 50, 93, 0.25) 0 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

@mixin box-shadows-24 {
  box-shadow: rgba(50, 50, 93, 0.25) 0 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

@mixin box-shadows-25 {
  box-shadow: rgba(50, 50, 93, 0.25) 0 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

@mixin box-shadows-26 {
  box-shadow: rgba(50, 50, 93, 0.25) 0 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

@mixin box-shadows-27 {
  box-shadow: rgba(50, 50, 93, 0.25) 0 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

@mixin box-shadows-28 {
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px, rgba(0, 0, 0, 0.24) 0 1px 2px;
}

@mixin box-shadows-29 {
  box-shadow: rgba(0, 0, 0, 0.16) 0 3px 6px, rgba(0, 0, 0, 0.23) 0 3px 6px;
}

@mixin box-shadows-30 {
  box-shadow: rgba(0, 0, 0, 0.19) 0 10px 20px, rgba(0, 0, 0, 0.23) 0 6px 6px;
}

@mixin box-shadows-31 {
  box-shadow: rgba(0, 0, 0, 0.25) 0 14px 28px, rgba(0, 0, 0, 0.22) 0 10px 10px;
}

@mixin box-shadows-32 {
  box-shadow: rgba(0, 0, 0, 0.3) 0 19px 38px, rgba(0, 0, 0, 0.22) 0 15px 12px;
}

@mixin box-shadows-33 {
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 2px 0, rgba(60, 64, 67, 0.15) 0 2px 6px 2px;
}

@mixin box-shadows-34 {
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 2px 0, rgba(60, 64, 67, 0.15) 0 1px 3px 1px;
}

@mixin box-shadows-35 {
  box-shadow: rgba(0, 0, 0, 0.05) 0 0 0 1px;
}

@mixin box-shadows-36 {
  box-shadow: rgba(0, 0, 0, 0.05) 0 1px 2px 0;
}

@mixin box-shadows-37 {
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 3px 0, rgba(0, 0, 0, 0.06) 0 1px 2px 0;
}

@mixin box-shadows-38 {
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

@mixin box-shadows-39 {
  box-shadow: rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

@mixin box-shadows-40 {
  box-shadow: rgba(0, 0, 0, 0.1) 0 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

@mixin box-shadows-41 {
  box-shadow: rgba(0, 0, 0, 0.25) 0 25px 50px -12px;
}

@mixin box-shadows-42 {
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px 0 inset;
}

@mixin box-shadows-43 {
  box-shadow: rgba(0, 0, 0, 0.1) 0 0 5px 0, rgba(0, 0, 0, 0.1) 0 0 1px 0;
}

@mixin box-shadows-44 {
  box-shadow: rgba(0, 0, 0, 0.07) 0 1px 2px, rgba(0, 0, 0, 0.07) 0 2px 4px, rgba(0, 0, 0, 0.07) 0 4px 8px, rgba(0, 0, 0, 0.07) 0 8px 16px, rgba(0, 0, 0, 0.07) 0 16px 32px, rgba(0, 0, 0, 0.07) 0 32px 64px;
}

@mixin box-shadows-45 {
  box-shadow: rgba(0, 0, 0, 0.09) 0 2px 1px, rgba(0, 0, 0, 0.09) 0 4px 2px, rgba(0, 0, 0, 0.09) 0 8px 4px, rgba(0, 0, 0, 0.09) 0 16px 8px, rgba(0, 0, 0, 0.09) 0 32px 16px;
}

@mixin box-shadows-46 {
  box-shadow: rgba(0, 0, 0, 0.2) 0 18px 50px -10px;
}

@mixin box-shadows-47 {
  box-shadow: rgba(0, 0, 0, 0.1) 0 10px 50px;
}

@mixin box-shadows-48 {
  box-shadow: rgba(0, 0, 0, 0.04) 0 3px 5px;
}

@mixin box-shadows-49 {
  box-shadow: rgba(0, 0, 0, 0.07) 0 1px 1px, rgba(0, 0, 0, 0.07) 0 2px 2px, rgba(0, 0, 0, 0.07) 0 4px 4px, rgba(0, 0, 0, 0.07) 0 8px 8px, rgba(0, 0, 0, 0.07) 0 16px 16px;
}

@mixin box-shadows-50 {
  box-shadow: rgba(67, 71, 85, 0.27) 0 0 0.25em, rgba(90, 125, 188, 0.05) 0 0.25em 1em;
}

@mixin box-shadows-51 {
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 2px 0;
}

@mixin box-shadows-52 {
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
}

// 59
@mixin box-shadows-53 {
  box-shadow: rgba(33, 35, 38, 0.1) 0 10px 10px -10px;
}

@mixin box-shadows-54 {
  box-shadow: rgba(0, 0, 0, 0.15) 0 5px 15px 0;
}

@mixin box-shadows-55 {
  box-shadow: rgba(0, 0, 0, 0.2) 0 12px 28px 0, rgba(0, 0, 0, 0.1) 0 2px 4px 0, rgba(255, 255, 255, 0.05) 0 0 0 1px inset;
}

@mixin box-shadows-56 {
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}
